body{
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
    margin-top:120px;
}

button{
    padding:18px 35px;
    font-size:24px;
    cursor:pointer;
    border:none;
    border-radius:10px;
}